extends ../layout

block content
    a(href='/bicicletas') Volver


    br
    br
    br

    h1 Nueva Bicicleta


    br
    br

    form(action='/bicicletas/create' method='post')
        label(for='_id') Codigo:
        input#id.form-control(type='text' name='_id')
        br
        label(for='color') Color:
        input#color.form-control(type='text' name='color')
        br
        label(for='modelo') Modelo:
        input#modelo.form-control(type='text' name='modelo')
        br
        label(for='lat') Latitud:
        input#modelo.form-control(type='text' name='lat')
        br
        label(for='lng') Longitud:
        input#modelo.form-control(type='text' name='lng')
        br
        br
        input.btn.btn-primary(type='submit' value='Crear')
        br