extends ../layout
block content
    a(href='/bicicletas/create') Nueva bicicleta
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
                th(scope='col') 
                th(scope='col') 
        tbody
            each bici in bicis
                tr
                td(scope='row') 
                    = bici._id
                    td=bici.color
                    td=bici.modelo
                    td=bici.ubicacion
                    td
                        a(href='bicicletas/'+bici._id +'/update') Editar
                    td
                        form.inline(method='post' action = 'bicicletas/'+bici._id +'/delete')
                            input(type='hidden' name = '_id' value=bici._id)
                            button.link-button(type='submit' name ='submit_param' value ='submit_value' class = 'btn')
                                = 'Eliminar'
